{% extends "blog/base.html" %}
{% block content %}

<h2>Колесо обозрения (также чёртово колесо в разговорном языке) — аттракцион в виде большого вертикально установленного колеса, к ободу которого прикреплены кабинки для пассажиров. Колёса обозрения есть во многих парках развлечений и других местах.</h2>

<img src="../images/111.jpg">

    <h2>Первое колесо обозрения построил в 1893 году инженер Джордж Вашингтон Гейл Феррис-младший (англ. George Washington Gale Ferris, Jr.). Оно было установлено на Всемирной колумбовской выставке в Чикаго. Колесо создавалось как американский ответ на башню Эйфеля в Париже. Диаметр колеса составлял 75 метров, масса — 2000 тонн. Колесо приводилось в движение двумя паровыми машинами мощностью в 1000 л. с. каждая. К ободу колеса было прикреплено 36 кабин, размером приблизительно с автобус. В каждой кабине было 20 сидячих и 40 стоячих мест, и, таким образом, общая пассажировместимость аттракциона составляла 2160 человек. Оборот колеса занимал двадцать минут. Весившая 70 тонн ось колеса была на тот момент самой большой стальной кованой деталью в истории техники. Колесо было выше самого высокого небоскрёба того времени, но в четыре раза ниже Эйфелевой башни.</h2>

{% endblock %}